{{>menu}}

<div class="container p-4">

  <p>Tabla Abandonos</p>

  <table>
    <tr class="border-stone-800 border-b-2">
      <th class="text-left">Lugar</th>
      <th class="text-left">Piloto</th>
      <th>Total</th>
      {{#each carreras}}
        <th> <img src="{{ this.bandera }}" alt="{{ this.pais }}" class="w-12" /> </th>
      {{/each}}
    </tr>
    {{#each abandonos}}
      <tr>
        <td class="text-left">{{this.lugar}}</td>
        <td class="text-left">{{this.nombre}}</td>
        <td>{{this.abandonosAcumulado}}</td>
        {{#each this.abandonos}}
          <td>{{this}}</td>
        {{/each}}  
      </tr>
    {{/each}}
  </table>

  

</div>